.panel-body {
	width: 400px;
	height: 340px;
	text-align: center;
}

.panel-heading {
	text-align: center;
}

.panel-footer {
	text-align: center;
}

.scroll-btn-group {
	margin-right: 10px;
	margin-top: 10px;
}

.rps-img {
	margin-left: 60px;
}

#player-message-container {
	text-align: center;
}

#results-panel-body {
	width: 400px;
	height: 420px;
	text-align: center;
}

#chat-window {
	resize: none;
	overflow: auto;
	width: 750px;
	height: 180px;
}

#chat-input {
	width: 750px;
}


