.panel {
	width: 400px;
	height: 400px;
}

.panel-heading {
	text-align: center;
}

.panel-footer {
	text-align: center;
}

.panel-body {
	text-align: center;
}

#player-message-container {
	text-align: center;
}

#results-panel {
	text-align: center;
}

#results-panel-body {
	text-align: center;
}

#chat-window {
	resize: none;
	overflow: auto;
	width: 750px;
	height: 180px;
}

#chat-input {
	width: 750px;
}


